
.std-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    

    border: solid 2px transparent;
    border-radius: 0.4em;

    margin: 2px 0;
    padding: .5em 1em;

    color: white;
    background-color: cornflowerblue;
}